.filter {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: 1px solid red;

	&__container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 50px;
	}

	&__title {
		font-size: 16px;
		margin: 0;
	}

	&__block {
		display: flex;
		flex-direction: column;
	}

	&__button {
		color: white;
		margin: 20px 0;
	}
}
